In [3]:
a=int(input("enter a number"))
b=int(input("enter a number"))
ifa<b
    print(a**1/2)
    print(b**1/3)
else:
    print(b**1/2)
    print(a**1/3)

IndentationError: unexpected indent (<ipython-input-3-78e51fa20895>, line 4)

In [5]:
x=5
print("before 5")
if x==5:
    print('is 5')
    print('is still 5')
    print('third 5')
print('afterwards 5')
print('before 6')
if x==6:
    print('is 6')
    print('is still 6')
    print('third 6')
print('afterwards 6')

before 5
is 5
is still 5
third 5
afterwards 5
before 6
afterwards 6

In [9]:
if 0:
    print("0 is false")
else:
    print("o is false")
if 1:
    print("non zero is true")
if -1:
    print("nonzero is true")
    print (2 < 3)

o is false
non zero is true
nonzero is true
True

In [10]:
print(12+33)

45

print()

In [15]:
a=12
b=33
#c=a+b
print(f"Sum of {a=} and {b=} is {(c:=a+b)}")
#print("Sum of {} and {} is {}".format(a,b,c))

SyntaxError: invalid syntax (<fstring>, line 1)

In [16]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [18]:
for i in range(1,6):
    print(" "*(10-i)+"*"*(2*i-1))

         *
        ***
       *****
      *******
     *********

In [ ]:
import datetime as dt
import calendar as cl
helloIntent=["hello","hi","hey there","hello there"]
dateIntent=["date","please tell me time","date please"]
timeIntent=["time","time please","what's the time"]

msg = input("Enter your message:")
msg=msg.lower()
if msg in helloIndent:
    print("Hello User")
elif msg in dateIndent:
    pass
elif msg in timeIndent:

In [1]:
import bs4
import urllib.request as url

In [3]:
response=url.urlopen('https://www.flipkart.com/search?q=apple+iphone&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_7_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_7_na_na_na&as-pos=3&as-type=RECENT&suggestionId=apple+iphone&requestId=97e57814-2abb-4055-b103-ddc098e9af2b&as-backfill=on')

In [4]:
page=bs4.BeautifulSoup(response)

In [5]:
title=page.find('div', class_='_3wU53n')
title.text

'Apple iPhone SE (White, 64 GB)'

In [6]:
price=page.find('div', class_='_1vC4OE _2rQ-NK')
price.text

'₹37,900'

In [7]:
titleList=page.find_all('div', class_='_3wU53n')
priceList=page.find_all('div', class_='_1vC4OE _2rQ-NK')

In [8]:
len(titleList)
len(priceList)

24

In [9]:
for i in range(len(titleList)):
    print(titleList[i].text)
    print(priceList[i].text)
    print('='*20)

Apple iPhone SE (White, 64 GB)
₹37,900
====================
Apple iPhone SE (Black, 64 GB)
₹37,900
====================
Apple iPhone SE (Red, 64 GB)
₹37,900
====================
Apple iPhone SE (Black, 128 GB)
₹43,900
====================
Apple iPhone XR (White, 64 GB)
₹47,500
====================
Apple iPhone XR (Black, 64 GB)
₹47,500
====================
Apple iPhone XR (Black, 128 GB)
₹53,500
====================
Apple iPhone XR (White, 128 GB)
₹53,500
====================
Apple iPhone SE (White, 128 GB)
₹43,900
====================
Apple iPhone SE (Red, 128 GB)
₹43,900
====================
Apple iPhone XR ((PRODUCT)RED, 64 GB)
₹47,500
====================
Apple iPhone XR (Blue, 64 GB)
₹47,500
====================
Apple iPhone XR ((PRODUCT)RED, 128 GB)
₹53,500
====================
Apple iPhone XR (Coral, 64 GB)
₹47,500
====================
Apple iPhone 11 (Green, 128 GB)
₹72,990
====================
Apple iPhone XR (Blue, 128 GB)
₹53,500
====================
Apple iPhone 11 (Black, 128 GB)
₹72,990
====================
Apple iPhone 7 (Black, 32 GB)
₹29,799
====================
Apple iPhone 11 (White, 64 GB)
₹66,990
====================
Apple iPhone 11 (Black, 64 GB)
₹66,990
====================
Apple iPhone 11 (Green, 64 GB)
₹66,990
====================
Apple iPhone 11 (White, 128 GB)
₹72,990
====================
Apple iPhone 11 (Purple, 64 GB)
₹66,990
====================
Apple iPhone 11 (Purple, 128 GB)
₹72,990
====================

In [20]:
data={'title':[],'price':[]}
for i in range(1,6):
    responses=url.urlopen('https://www.flipkart.com/search?q=apple+iphone&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_7_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_7_na_na_na&as-pos=3&as-type=RECENT&suggestionId=apple+iphone&requestId=97e57814-2abb-4055-b103-ddc098e9af2b&as-backfill=on&page={}'.format(i))
    page=bs4.BeautifulSoup(responses)
    titleList=page.find_all('div', class_='_3wU53n')
    priceList=page.find_all('div', class_='_1vC4OE _2rQ-NK')
    for j in range(len(titleList)):
        data['title'].append(titleList[j].text)
        data['price'].append(priceList[j].text)

In [21]:
import pandas as pd
df=pd.DataFrame(data)
df.shape

(120, 2)

In [22]:
df.head()

                             title    price
0   Apple iPhone SE (White, 64 GB)  ₹37,900
1   Apple iPhone SE (Black, 64 GB)  ₹37,900
2     Apple iPhone SE (Red, 64 GB)  ₹37,900
3  Apple iPhone SE (Black, 128 GB)  ₹43,900
4   Apple iPhone XR (White, 64 GB)  ₹47,500